.sitemap {
	position: relative;
	list-style: none;
	margin-bottom: 20px;

	li {
		margin-bottom: 10px;
		line-height: 1.5;

		a {
			&:hover {
				text-decoration: underline;
			}
		}

		ul {
			list-style: none;

			li {
				margin-bottom: 0;
			}
		}
	}
}